<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>

<h1>Consumer</h1>

<div id="msg">
</div>

<%#= form_for @message, remote: true do |f| %>
  <%#= f.text_field :content %>
  <%#= f.submit %>
<%# end %>